.form-container {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #af4261;
}

div {
    margin-bottom: 15px;
    display: flex;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    color: white;
    background-color: #af4261;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #42AF90;
}