<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
    <link rel="stylesheet" type="text/css" href="css/image.css">
</head>
<body>
    <h1 id="statusHeader">Generating image...</h1>
    <img id="image" class="hidden-image" alt="Generated Image" height="600px">
    <p id="errorMessage" style="color: red; display: none;">Error generating image. Please try again later.</p>
    
    <script src="js/imageHandler.js" data-id="<%= id %>"></script>
</body>
</html>
