<div class="form-container">
    <form method="POST" action="imagine/generate">
        <h2>Generate an imagine from a prompt</h2>
        <div>
            <input type="text" id="prompt" name="prompt" placeholder="prompt" minlength=3 required>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

