<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Save Text</title>
    <link rel="stylesheet" type="text/css" href="css/test.css">
</head>
<body>
    <form method="POST" action="/test/testTextSubmit">
        <label for="text">Text</label>
        <input type="text" id="text" name="text" placeholder="text" minlength=3 required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
