<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <h1>Welcome to Test</h1>
    <div class="link-container">
        <a href="/test/testText">Test Text</a>
    </div>
</body>
</html>
